---
import { Image } from 'astro:assets';

import Layout from "../layouts/Layout.astro";

import fetchApi from "../libs/strapi";

let gardenContent;
try {
  gardenContent = await fetchApi("garden");
} catch (e) {
  console.log(e);
}
---

<Layout title="hagen">
  
  <p>{gardenContent.title}</p>
  <p>{gardenContent.description}</p>
  {gardenContent.imgs.data.map((img) => (<p><Image src={`${import.meta.env.STRAPI_URL}${img.attributes.url}`} width={img.attributes.width} height={img.attributes.height}  alt=""/>
  </p>))}

</Layout>
