---
import { Image } from "astro:assets";
import { Debug } from "astro:components";
import Layout from "../layouts/Layout.astro";
import MainLogo from "../components/MainLogo.astro";
import "../styles/fonts.css";
import fetchApi from "../libs/strapi";

let homeContent;
try {
  homeContent = await fetchApi("home");
  debugger;
} catch (e) {
  console.log(e);
}
---

<Layout>
  <div class="mainContent__wrapper">
    <MainLogo />
    <div class="mainContent">
      <p class="mainContent__title">{homeContent.title}</p>
      <p class="mainContent__undertext">Mat - Drikke - Hygge</p>
      <p class="mainContent__description">{homeContent.description}</p>
    </div>
  </div>
</Layout>
<!-- <p><Image src={`${import.meta.env.STRAPI_URL}${homeContent.img.data.attributes.url}`} width={homeContent.img.data.attributes.width} height={homeContent.img.data.attributes.height}  alt=""/>
  </p> -->

<style>
  .mainContent__wrapper {
    margin: 4rem auto;
    height: 75%;
    width: 70vw;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: var(--gray);
    border-radius: 10px;
  }

  p.mainContent__title {
    font-family: "Lora";
    font-weight: 600;
    font-size: 3rem;
    margin: 0;
  }
  p.mainContent__undertext {
    font-family: "Lora";
    font-size: 1.5rem;
    font-style: italic;
    margin: 0;
  }

  p.mainContent__description{
    font-family: "Lora";
    font-size: 1rem;
  
  }
</style>
