---
import Layout from "../layouts/Layout.astro";
import MainLogo from "../components/MainLogo.astro";

import "../styles/fonts.css";

import fetchApi from "../libs/strapi";
let homeContent;
try {
  homeContent = await fetchApi("home");
} catch (e) {
  console.log(e);
}
---

<Layout>
  <div class="mainContent__wrapper">
    <MainLogo />
    <div class="mainContent">
      <p class="mainContent__title">{homeContent.title}</p>
      <p class="mainContent__undertext">Mat og Drikke - Hygge - Kultur</p>
      <p class="mainContent__description">{homeContent.description}</p>
      <nav class="mainContent__navigation">
        <ul class="mainContent__navList">
          <li class="mainContent__navItem">
            <a class="mainContent__navLink" href="/kjokennet"
              ><img src="/Kitchen.svg" /><p class="navLink__text">
                Kjøkkenet
              </p></a
            >
          </li>
          <li class="mainContent__navItem">
            <a class="mainContent__navLink" href="/hagen"
              ><img src="/Garden.svg" /><p class="navLink__text">Hagen</p></a
            >
          </li>
          <li class="mainContent__navItem">
            <a class="mainContent__navLink" href="/kultur"
              ><img src="/Guitar.svg" /><p class="navLink__text">Kultur</p></a
            >
          </li>
          <li class="mainContent__navItem">
            <a class="mainContent__navLink" href="/museet"
              ><img src="/Museum.svg" /><p class="navLink__text">Museet</p></a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
</Layout>
<!-- <p><Image src={`${import.meta.env.STRAPI_URL}${homeContent.img.data.attributes.url}`} width={homeContent.img.data.attributes.width} height={homeContent.img.data.attributes.height}  alt=""/>
  </p> -->

<style>
  .mainContent__wrapper {
    margin: 4rem 1rem;
    min-height: 60vh;
    width: 78.5vw;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    align-items: center;
    padding: 4rem;
    background-color: #f9f5f0;
    border-radius: 15px;
  }

  

  p.mainContent__title {
    font-family: "Lora";
    font-weight: 600;
    font-size: 3rem;
    margin: 0;
  }
  p.mainContent__undertext {
    font-family: "Lora";
    font-size: 1.5rem;
    font-style: italic;
    margin: 0;
  }

  p.mainContent__description {
    font-family: "Lora";
    font-size: 1rem;
  }

  nav.mainContent__navigation {
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: wrap;
  }
  .mainContent__navList {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;

    padding: 0;
    margin: 2rem 0;
  }

  .mainContent__navItem {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mainContent__navLink {
    text-decoration: none;
    color: var(--black_main);
    font-family: "Lora";
    font-weight: 400;
    padding: 1.25rem;
    width: 5rem;
    height: 6rem;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--light_brown);
    transition: all 0.25s ease-in-out;
  }
  .mainContent__navLink:hover {
    background-color: var(--brown);
    transition: all 0.15s ease-in-out;
  }
  p.navLink__text {
    margin: 0.5rem auto;
  }

  img {
    margin-top: 0.5rem;
  }
  @media (max-width: 1385px) {
    .mainContent__wrapper {
      flex-direction: column;
      width: auto;
      padding: 2rem;
      margin: 4rem 1rem;
    }
    .mainContent {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    nav.mainContent__navigation {
      width: 100%;
    }

    p.mainContent__description {
      text-align: center;
    }
  }

  @media (max-width: 825px) {
    .mainContent__navList {
      flex-direction: column;
      min-height: 60vh;
    }
    .mainContent__navItem {
      margin: 2rem auto;
    }
  }

  @media (max-width: 450px) {
    .mainContent__wrapper {
      padding: 1rem;
    }
    p.mainContent__title {
      font-size: 2.5rem;
    }
    p.mainContent__undertext {
      font-size: 1rem;
    }
    p.mainContent__description {
      font-size: 0.85rem;
      text-align: center;
    }
  }
</style>
<script>
  const body = document.body;
  const hamburger = document.getElementById("hamburger");
  const navMobile = document.getElementById("nav__container-mobile");

  hamburger.addEventListener("click", () => {
    hamburger.classList.toggle("openmenu");
    navMobile.classList.toggle("visible");
    body.classList.toggle("stop_scrolling");
  });
</script>
