---
import { Image } from "astro:assets";
import { Debug } from "astro:components";
import Layout from "../layouts/Layout.astro";
import MainLogo from "../components/MainLogo.astro";
import "../styles/fonts.css";
import fetchApi from "../libs/strapi";

let homeContent;
try {
  homeContent = await fetchApi("home");
  debugger;
} catch (e) {
  console.log(e);
}
---

<Layout>
  <div class="mainContent__wrapper">
    <MainLogo />
    <div class="mainContent">
      <p class="mainContent__title">{homeContent.title}</p>
      <p class="mainContent__undertext">Mat - Drikke - Hygge</p>
      <p class="mainContent__description">{homeContent.description}</p>
      <nav class="mainContent__navigation">
        <ul class="mainContent__navList">
          <li class="mainContent__navItem">
            <img src="../../public/Kitchen.svg" />
            <a class="mainContent__navLink" href="/kjokennet">Kjøkkenet</a>
          </li>
          <li class="mainContent__navItem">
            <img src="../../public/Garden.svg" />
            <a class="mainContent__navLink" href="/hagen">Hagen</a>
          </li>
          <li class="mainContent__navItem">
            <img src="../../public/Museum.svg" />
            <a class="mainContent__navLink" href="/museet">Museet</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</Layout>
<!-- <p><Image src={`${import.meta.env.STRAPI_URL}${homeContent.img.data.attributes.url}`} width={homeContent.img.data.attributes.width} height={homeContent.img.data.attributes.height}  alt=""/>
  </p> -->

<style>
  .mainContent__wrapper {
    margin: 4rem auto;
    height: 75%;
    width: 70vw;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    align-items: center;
    padding: 2rem;
    background-color: var(--gray);
    border-radius: 10px;
  }

  p.mainContent__title {
    font-family: "Lora";
    font-weight: 600;
    font-size: 3rem;
    margin: 0;
  }
  p.mainContent__undertext {
    font-family: "Lora";
    font-size: 1.5rem;
    font-style: italic;
    margin: 0;
  }

  p.mainContent__description {
    font-family: "Lora";
    font-size: 1rem;
  }

 .mainContent__navigation{
  max-width: 45rem;
  display: flex;
  align-items: center;
  justify-content: center;
 }
  .mainContent__navList {
    height: auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 2rem 0;
  }

  .mainContent__navItem {
    width: 5rem;
    height: 6rem;
    background-color: var(--ligthBrown);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 50%;
    transition: all 0.25s ease-in-out;
  }

  .mainContent__navItem:hover {
    background-color: var(--brown);
    transition: all 0.15s ease-in-out;
  }

  .mainContent__navLink {
    text-decoration: none;
    color: var(--black_main);
    font-family: "Lora";
    font-weight: 400;
    padding: 0.5rem;
  }
</style>
