---
import { Image } from "astro:assets";

import Layout from "../layouts/Layout.astro";

import fetchApi from "../libs/strapi";

let kitchenContent;
try {
  kitchenContent = await fetchApi("kitchen");
} catch (e) {
  console.log(e);
}
---

<Layout title="hagen">
  <div class="content__container">
    <img class="garden__img" src="/KitchenImg.svg" />
    <div class="description__container">
      <h1 class="header__main">{kitchenContent.title}</h1>
      <p class="description__text">
        Med Museumshavens kjøkken ønsker vi å speile regionen og det den har å
        tilby av gode råvarer. Det kan innebære alt fra innhøsting fra
        velvillige folks hage; kjøtt, meieriprodukter og grønt fra lokale
        bønder, eller noe vi har sanket eller dyrket selv. Det gode med å drive
        her er at vi har tilgang på så mye. Regionen bugner av gode råvarer og
        dyktige folk. På kjøkkenet bestreber vi oss hele tiden på å bli bedre,
        og vi elsker det! Elsker hva da? Alt: Fargene, teksturene, luktene,
        formene, det sosiale aspektet og selvsagt smakene- de veldig gode
        smakene som finnes i naturlig tilstand, eller som kan drives ut av de
        gode råvarene ved hjelp av ulike teknikker. Tusen takk for maten- og vel
        bekomme!
      </p>
      <div class="img__wrapper">
        <img class="pig__img" src="/Pig.svg" />
      </div>
    </div>
    <img class="fish__img" src="/Fish.svg" />
  </div>
  <!-- <p><Image src={`${import.meta.env.STRAPI_URL}${kitchenContent.img.data.attributes.url}`} width={kitchenContent.img.data.attributes.width} height={kitchenContent.img.data.attributes.height}  alt=""/>
  </p> -->
</Layout>

<style>
  .content__container {
    margin: 4rem auto;
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: start;
    margin: 6.25rem 0;
  }
  div.description__container {
    width: 50%;
    margin-left: 2rem;
  }

  h1.header__main {
    margin: 0;
    font-family: "Lora";
    font-size: 3rem;
    font-weight: 600;
  }

  p.description__text {
    margin: 2rem 0;
    font-family: "Lora";
    font-size: 1.25rem;
    font-weight: 400;
  }

  .img__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .pig__img {
    margin: 5rem auto;
  }

  .fish__img {
    position: absolute;
    width: 6rem;
    top: 500px;
    right: 200px;
  }
</style>
