---
import { Image } from 'astro:assets';

import Layout from "../layouts/Layout.astro";

import fetchApi from "../libs/strapi";

let kitchenContent;
try {
  kitchenContent = await fetchApi("kitchen");
} catch (e) {
  console.log(e);
}
---

<Layout title="kjokennet">
  <p>{kitchenContent.title}</p>
  <p>{kitchenContent.description}</p>
  <p><Image src={`${import.meta.env.STRAPI_URL}${kitchenContent.img.data.attributes.url}`} width={kitchenContent.img.data.attributes.width} height={kitchenContent.img.data.attributes.height}  alt=""/>
  </p>
</Layout>
