---
import { Image } from "astro:assets";

import Layout from "../layouts/Layout.astro";

import fetchApi from "../libs/strapi";

let cultureContent;
try {
  cultureContent = await fetchApi("culture");
} catch (e) {
  console.log(e);
}
---

<Layout title="hagen">
  <div class="content__container">
    <img class="garden__img" src="/Starflower.svg" />
    <div class="description__container">
      <h1 class="header__main">{cultureContent.title}</h1>
      <p style="white-space: pre-line" class="description__text">
        {cultureContent.description}
      </p>
      <div class="img__wrapper">
        <img class="culture_decor" src="/CultureNew.svg" />
      </div>
    </div>
  </div>

  <!-- {
    gardenContent.imgs.data.map((img) => (
      <p>
        <Image
          src={`${import.meta.env.STRAPI_URL}${img.attributes.url}`}
          width={img.attributes.width}
          height={img.attributes.height}
          alt=""
        />
      </p>
    ))
  } -->
</Layout>

<style>
  .content__container {
    margin: 4rem auto;
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: start;
  }
  div.description__container {
    width: 50%;
    margin-left: 2rem;
  }

  h1.header__main {
    margin: 0;
    font-family: "Lora";
    font-size: 3rem;
    font-weight: 600;
  }

  p.description__text {
    margin: 2rem 0;
    font-family: "Lora";
    font-size: 1.25rem;
    font-weight: 400;
  }

  .img__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .culture_decor {
    position: relative;
  }

  @media (max-width: 1100px) {
    .garden__img {
      width: 12.5rem;
    }
    h1.header__main {
      font-size: 2rem;
    }
    p.description__text {
      font-size: 0.95rem;
    }
  }

  @media (max-width: 825px) {
    .content__container {
      flex-direction: column;
      align-items: center;
    }
    div.description__container {
      margin: 2rem 0 0 0;
      width: 75%;
    }
    h1.header__main {
      text-align: center;
    }
    img.culture_decor {
      width: 15rem;
    }
  }

  @media (max-width: 450px) {
    img.culture_decor {
      width: 10rem;
    }
  }
</style>
<script>
  const body = document.body;
  const hamburger = document.getElementById("hamburger");
  const navMobile = document.getElementById("nav__container-mobile");

  hamburger.addEventListener("click", () => {
    hamburger.classList.toggle("openmenu");
    navMobile.classList.toggle("visible");
    body.classList.toggle("stop_scrolling");
  });
</script>
