---
import { Image } from "astro:assets";
import ReactHtmlParser from "react-html-parser";
import Layout from "../layouts/Layout.astro";

import fetchApi from "../libs/strapi";
const makeHTML = (text: string, fragment: string) => {
  if(text.includes(fragment)){
    
  }
}
let aboutContent;
try {
  aboutContent = await fetchApi("about");

  aboutContent.replace(/\n/g, "<br />");

} catch (e) {
  console.log(e);
}
---

<Layout title="hagen">
  <div class="content__container">
    <img class="garden__img" src="/AboutMagpie.svg" />
    <div class="description__container">
      <h1 class="header__main">{aboutContent.title}</h1>
      <!-- {aboutContent.imgs.data.map((img) => (<p><Image src={`${import.meta.env.STRAPI_URL}${img.attributes.url}`} width={img.attributes.width} height={img.attributes.height}  alt=""/>
      </p>))} -->
      <p class="description__text">
        <!-- {console.log(ReactHtmlParser(aboutContent))} -->
      </p>
      <img class="panorama__img" src="/Panorama.svg" />
    </div>
  </div>
</Layout>

<style>
  .content__container {
    display: flex;
    justify-content: center;
    align-items: start;
    margin: 2rem 0;
  }
  div.description__container {
    width: 50%;
    margin-left: 2rem;
  }

  h1.header__main {
    margin: 0;
    font-family: "Lora";
    font-size: 3rem;
    font-weight: 600;
  }

  p.description__text {
    margin: 2rem 0;
    font-family: "Lora";
    font-size: 1.25rem;
    font-weight: 400;
  }

  img.panorama__img {
    margin: 5rem 0;
  }
</style>
