---
import { Image } from 'astro:assets';

import Layout from "../layouts/Layout.astro";

import fetchApi from "../libs/strapi";

let aboutContent;
try {
  aboutContent = await fetchApi("about");
  console.log(aboutContent)
} catch (e) {
  console.log(e);
}
---
<Layout title="om oss">
  <p>{aboutContent.title}</p>
  <p>{aboutContent.description}</p>
  {aboutContent.imgs.data.map((img) => (<p><Image src={`${import.meta.env.STRAPI_URL}${img.attributes.url}`} width={img.attributes.width} height={img.attributes.height}  alt=""/>
  </p>))}
</Layout>
